@using System.Web.Optimization
@Scripts.Render("~/Bundles/home-index")
<div ng-controller="app.views.home as vm">

    <!-- Widgets -->
    <div class="row clearfix" style="margin-top: 30px;">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="content" style="align-self:center; padding:0 10px;">
                    <h3 style="margin:0;">MINHA CONTA</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="content" style="align-self:center; padding:0 10px;">
                    <h3 style="margin:0;">MEUS AMIGOS</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="fa fa-line-chart fa-5x"></i>
                </div>
                <div class="content" style="align-self:center; padding:0 10px;">
                    <h3 style="margin: 0;">MEUS PONTOS</h3>
                </div>
            </div>
        </div>
        <a href="#/intro">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" data-toggle="tooltip" title="CLIQUE PARA IR PRO CURSO">
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <i class="fa fa-book fa-5x"></i>
                    </div>
                    <div class="content" style="align-self:center; padding:0 10px;">
                        <h3 style="margin:0;">IR PARA O CURSO</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- #END# Widgets -->
    <!-- CPU Usage -->
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>PROGRESSO NO CURSO</h2>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <a href="#/intro">
                        <div class="alert alert-success" data-toggle="tooltip" title="CLIQUE PARA IR PRO CURSO">
                            <strong>Você está indo bem!</strong> Continue o curso para não esquecer nada.
                        </div>
                    </a>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                            40% &nbsp;concluído
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="body bg-teal">
                    <div class="font-bold m-b--35">PESSOAS COM MELHOR DESEMPENHO</div>
                    <ul class="dashboard-stat-list">
                        <li>
                            JOANA FARIA
                            <span class="pull-right"><b>100</b> <small>PONTOS</small></span>
                        </li>
                        <li>
                            MARIA PEREIRA
                            <span class="pull-right"><b>98</b> <small>PONTOS</small></span>
                        </li>
                        <li>
                            ROSANA FERREIRA
                            <span class="pull-right"><b>87</b> <small>PONTOS</small></span>
                        </li>
                        <li>
                            JOSÉ DA SILVA
                            <span class="pull-right"><b>52</b> <small>PONTOS</small></span>
                        </li>
                        <li>
                            JOÃO MOREIRA
                            <span class="pull-right"><b>41</b> <small>PONTOS</small></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# CPU Usage -->

</div>