<!-- Search Bar -->
@*<div class="search-bar" ng-controller="app.views.layout.topbar as vm">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input materialInput type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>*@ <!-- #END# Search Bar -->

<nav id="navbar-top" class="navbar" ng-controller="app.views.layout.topbar as vm">
    <div class="container-fluid">
        <div class="navbar-header" id="navbar-logo">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a href="/#/" asp-controller="Home" asp-action="Index"><img src="App\Main\images\logo-interneto.png" width="80" alt="Logo Interneto"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button onclick="location.href='/#/mouse'" id="LoginButton" class="btn btn-success btn-lg btn3d" type="button">Continuar</button>
                </li>
                @*<li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>*@
            </ul>
        </div>
    </div>
</nav>
